body {   
    padding: 0px;   
    margin: 0px;   
    background-color: rgba(43,124,125,0.5);
}

input {
    margin: 0;
    padding: 0;
}

#carrousel{
    min-height: 390px;
    max-height: 390px;
}

#imageCarrousel{
    min-width: 350px;
    max-width: 350px;
    min-height: 380px;
    max-height: 380px;
}

.container h2{
    text-align: center;
    font-family: Comic Sans MS; 
    color: white;
}

.thumbnail {
    margin-top: 10px;
    background-color: rgb(127,127,127);
    text-align: center;
    min-height: 450px;
    max-height: 450px;
    border : 1px solid rgb(127,127,127);
}

.thumbnail img {
    width: 80%;
    min-height: 230px;
    max-height: 230px;
    border-radius: 5px;
}
    
.carousel-inner img {
    width: 40%;
    margin: auto;
    max-height:300px;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.carousel-inner h2 {
    font-family: Comic Sans MS; 
    color: rgb(195,195,195);
}

/*les flèches*/
  .carousel-control.right, .carousel-control.left {
  background-image: none;
  color: rgb(43, 124, 125);
}

/*inicateur de l'image active*/
.carousel-indicators li.active {
  background-color: rgb(43, 124, 125);
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

/*Bouton Voir Item*/
#VoirItem {
    width: 100%;
    background-color: rgba(43,124,125,0.6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* Bouton Voir Item quand on passe la souris dessus*/
#VoirItem:hover {
    background-color: white;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(43,124,125,0.6);
}