body {
  background-color: rgba(239,210,175,0.3);
}

/*Bouton Se connecter */
input[id=submit] {
    width: 15%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* Bouton connecter quand on passe la souris dessus*/
input[id=submit]:hover {
    background-color: white;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
}

