body {   
    padding: 0px;   
    margin: 0px;   
    background: rgba(64,128,128,0.3); 
}

/* Fenetre*/
#fenetre{
    width:450px;
    margin:0 auto;
    margin-top:3%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 10px;
    box-sizing: border-box;
}

/*Bouton Se connecter */
input[id=submit] {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* Bouton connecter quand on passe la souris dessus*/
input[id=submit]:hover {
    background-color: white;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
}

.required{
    border-radius: 10px;
}

#Coordo h4{
    color: rgb(43,124,125);
}